@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

* {	margin: 0;}
html, body {height: 100%;}
img{border:0px;}

.wrapper {min-height: 100%;	height: auto !important;height: 100%;margin: 0 auto -54px; /* the bottom margin is the negative value of the footer's height */}
.footer {height: 54px; /* .push must be the same height as .footer */background:url(../images/footer_bg.png) repeat-x; position: relative;}
.header{width:100%; background:url(../images/header_bg.jpg) repeat-x; display:block; min-height:35px;  }
.header .logo{padding:25px 0px 0px 20px;min-height:35px; float:left;}
.header .list_icon{padding:25px 20px 0px 0px;min-height:35px; float:right;}
.content{width:100%; background:#FFF; display:block; margin:0px auto;}
.content .list{width:100%;}
.content .list ul{padding:0px 10px 0px 10px; }
.content .list ul li{font:12px Arial, Helvetica, sans-serif; color:#666; line-height:30px;  list-style-type:none; border-bottom:1px solid #B8B8B8; padding-left:10px;}

.footer ul { padding:0px; margin:0px auto; }
.footer ul li{width:25%; height:54px; display:inline; list-style-type:none;}
.footer ul li.time{ height:44px; width:25%; display:block; float:left; text-align:center; padding-top:10px; cursor:pointer;}
.footer ul li.time:hover{ height:44px; background:url(../images/icons_hover.png);padding-top:10px;}
.active{ height:44px; background:url(../images/icons_hover.png);padding-top:10px;}

.content .add_medicine{width:90%; font:12px Arial, Helvetica, sans-serif; color:#666; margin:0px auto;  }
label{display:block; margin-top:5px;}
.textfield{width:98%; border:1px solid #999; padding:5px;}
.textfield_medium{width:50%; border:1px solid #999; padding:5px;}
.textfield_small{width:30%; border:1px solid #999; padding:5px;}
.listmenu_small{width:20%; border:1px solid #999; padding:4px;}
.button{width:50%; background:url(../images/button_bg.png); font:bold 12px Arial, Helvetica, sans-serif; color:#FFF; line-height:25px; border:1px solid #002C5D; margin:3px 0px 0px 0px; cursor:pointer;}
.button:hover{width:50%; background:url(../images/button_bg_hover.png); font:bold 12px Arial, Helvetica, sans-serif; color:#FFF; line-height:25px; border:1px solid #002C5D; margin:3px 0px 0px 0px; cursor:pointer;}

.greyborder{border-left:1px solid #999;border-top:1px solid #999;}
.tab_title{font:bold 14px Arial, Helvetica, sans-serif; color:#1461A1; line-height:24px; border-right:1px solid #999;  border-bottom:1px solid #999; text-indent:15px;}
.tab_contents{font:12px Arial, Helvetica, sans-serif; color:#333; line-height:24px; border-right:1px solid #999;  border-bottom:1px solid #999; text-indent:15px;}
h1{font:bold 16px Arial, Helvetica, sans-serif; color:#C30; line-height:30px; }

.clear{clear:both;}
